/* app css stylesheet */

body {
    font-size: 100%;

}

body.app {
    background-color: rgba(73, 69, 65, 0.41);
    height: 20em;
}

hr {
    background-color: rgb(86, 86, 86);
    border-top: 0;
    border-bottom: 0;
    margin: 0.8em 0 0;
}

.bundInSaite-1 {
    height: 1px;
}

.bundInSaite-2 {
    height: 2px;
}

.bundInSaite-3 {
    height: 3px;
}

.bundInSaite-4 {
    height: 4px;
}

.bundInSaite-5 {
    height: 5px;
}

.bundInSaite-6 {
    height: 6px;
}

.bundInSaite-1Leer, .bundInSaite-2Leer, .bundInSaite-3Leer,.bundInSaite-4Leer, .bundInSaite-5Leer, .bundInSaite-6Leer{
    height: 0px;
}



.halbtonQuestion {
    font-size: 2.8em;
    padding-top: 0.66em;
    font-weight: bold;
    line-height: 1em;
}

.halbtonAnswer {
    font-size: 6.8em;
    font-weight: bold;
    padding-top: 0.1em;
    line-height: 1em;
}

.saite-1 {
    /* border-top: 1px solid black;*/
    width: 100%;
    height: 2em;
}

.saite-2 {
    /*border-top: 2px solid black;*/
    width: 100%;
    height: 2em;
}

.saite-3 {
    /*border-top: 3px solid black;*/
    width: 100%;
    height: 2em;
}

.saite-4 {
    /*border-top: 4px solid black;*/
    width: 100%;
    height: 2em;
}

.saite-5 {
    /* border-top: 5px solid black;*/
    width: 100%;
    height: 2em;
}

.saite-6 {
    /*   border-top: 6px solid black;*/
    width: 100%;
    height: 2em;
}

.gitarrenHals {
    padding-top: 3em;
    width: 50em;

}

.gitarre {
    height:100%;
}
.bundClass {
    width: 3em;
    height: 2.6em;
    /*border-left: 0.2em solid rgba(0, 0, 0, 0.18);*/
    border-right: 0.2em solid rgba(0, 0, 0, 0.7);
    background-color: #865e36;
    overflow-x: hidden;
}

.bundClassLeer {
    width: 3em;
    height: 2.6em;
    background-color: #ffffff;
    overflow-x: hidden;
}

.zieltonMarkiert {
    width: 0.8em;
    height: 0.8em;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    border-radius: 0.5em;
    color: #2a9b2a;
    background-color: #2a9b2a;
    display: inline-block;
    position: relative;
    top: -0.5em;
}

.zieltonNichtMarkiert {
    display: inline-block;
    position: relative;
    top: -0.5em;
}

.grundtonMarkiert {
    width: 0.8em;
    height: 0.8em;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    border-radius: 0.5em;
    color: #000000;
    background-color: #000000;
    display: inline-block;
    position: relative;
    top: -0.5em;
}

.grundtonNichtMarkiert {
    display: inline-block;
    position: relative;
    top: -0.5em;
}



.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}




