/* app css stylesheet */

body {
    font-size: 100%;

}

body.app {
    background-color: rgba(73, 69, 65, 0.41);
    height: 20em;
}


.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.halbtonQuestion {
    font-size: 2.8em;
    padding-top: 0.66em;
    font-weight: bold;
    line-height: 1em;
}

.halbtonAnswer {
    font-size: 6.8em;
    font-weight: bold;
    padding-top: 0.1em;
    line-height: 1em;
}

.saite-1 {
    border-top: 1px solid black;
    width: 100%;
    height: 2em;
}

.saite-2 {
    border-top: 2px solid black;
    width: 100%;
    height: 2em;
}

.saite-3 {
    border-top: 3px solid black;
    width: 100%;
    height: 2em;
}

.saite-4 {
    border-top: 4px solid black;
    width: 100%;
    height: 2em;
}

.saite-5 {
    border-top: 5px solid black;
    width: 100%;
    height: 2em;
}
.saite-6 {
    border-top: 6px solid black;
    width: 100%;
    height: 2em;
}

.gitarrenHals {
    padding-top: 3em;
    width: 50em;
    overflow-x:hidden;
}

.bundClass {
    width: 4em;
    height: 2em;
    border-left: 0.1em solid black;
    border-right: 0.1em solid black;
    background-color: #515151;
    overflow-x: hidden;

}


