<div class="row" >
   <!-- <div class="col-md-2"><i class="fa fa-question fa-5x"></i></div>-->
    <div class="col-md-12 halbtonQuestion">Wenn ich von

        <!--Seems strange to me: http://stackoverflow.com/questions/2547354/how-to-increase-the-height-of-the-select-box-->
        <select ng-model="grundton" ng-options="ton.name  for ton in halbtoene" ng-required="true" required="true"
                ng-change="berechneZielton(grundton,abstand)"
                class="" style="background: none;">
            <option value="">Grundton</option>
        </select>

        <input type="number" ng-required="true" ng-maxlength="2" ng-minlength="1" maxlength="2" required="true"
               ng-model="abstand"
               ng-change="berechneZielton(grundton,abstand)" placeholder="Notenabstand" style="width: 7em"
               class="" />
        Halbtonschritte weiterzähle lande ich bei

    </div>
    <!--<div class="col-md-2"></div>-->


</div>


<div class="row" style="margin-top: 0.5em;">
    <!--<div class="col-xs-1 col-sm-3 col-md-3">i class="fa fa-exclamation fa-5x"></i></div>-->
    <div class="halbtonAnswer col-md-6 col-md-offset-3">
        {{ zielton.targetName }}
    </div>
   <!--<div class="col-xs-1 col-sm-3 col-md-3"></div>-->
</div>

<div ng-include="'partials/gitarre.html'" class="row">
</div>

